body{
    background:rgba(0, 0, 0, 0.607) url(assets/background.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    margin: 1px;
    padding: 1px;
    border: 1px;
}
body::-webkit-scrollbar{
    display: none;
}
.head{
    font-size: 30px;
    letter-spacing: 3px;
}

.border{
    background-color: black;
    height: 1px;
    width: 100%;
    color: black;
    font-size: 20px ;
}
.seasonborder{
    background-color: black;
    height: 1px;
    width: 100%;
    color: black;
    font-size: 40px ;
    display: flexbox;
}

.body2{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.76);
    height: max-content;
    border-radius: 30px;
    padding: 10px;

}
button{
    transition: all 0.4s ease-in-out;
    -o-transition: all;
    -moz-transition: all;
}

.button{
    margin-left: 32%;
    display: flex;
}

.About{
    margin-left: 10%;
    margin-right: 5%;
    
}
.tink{
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.500);
    width: 200px;
    height: 200px;
    border-style: groove;
    margin: 1px;
}
.story{
    display: none;
}
.season1{
    display: none;
}